/* Line Break Style One */
#new1 {
  border-top: 1px solid red;
}

/* Line Break Style Two */
#new2 {
  border-top: 1px dashed red;
}

/* Line Break Style Three */
#new3 {
  border-top: 1px dotted red;
}

/* Line Break Style Four */
#new4 {
  border: 1px solid red;
}

/* Line Break Style Fifth */
#new5 {
  border: 10px solid green;
  border-radius: 5px;
}
